/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MAGAZINE OVERVIEW ARTICLES
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.magOverArticles {
    &__headline {
        margin-bottom:          $spacing2XL;
    }

    &__list {
        padding-top:            $spacing2XL;
    }

    &__recc {
        display:                flex;
        margin-bottom:          $spacing5XL;
        position:               relative;
    }

    &__recc-image {
        position:               relative;
        border:                 $spacingSM solid $colorWhite;

        img {
            width:              100%;
            display:            block;
            object-fit:         cover;
        }
    }

    &__recc-author {
        align-self:             flex-start;
        box-shadow:             rgba(0, 0, 0, 0.5) 0 0 20px;
        z-index:                10;
        right:                  -$spacingMD;
		font: 					400 1rem #{"/"} 1.2em $fontFamily;
        width:                  30%;
        top:                    -$spacingXL;
        position:               absolute;

        @include breakpoint('l', 'min') {
            position:           relative;
            margin-left:        -$spacingMD;
            width:              calc(40% + #{$spacingMD});
            top:                0;
        }
    }

    &__recc-article {
        align-self:             flex-start;

        @include breakpoint('l', 'min') {
            width:              60%;
        }
    }

    &__recc-author-info {
        position:               absolute;
        text-align:             center;
        background:             $colorWhite;
        padding:                $spacingMD $spacingSM;
        color:                  $colorGrayDark;
        top:                    100%;
        right:                  -$spacingSM;
        left:                   -$spacingSM;

        @include breakpoint('l', 'min') {
            top:                auto;
            left:               auto;
            bottom:             $spacingMD;
            right:              $spacingMD;
            opacity:            0.75;
            padding:            $spacingMD $spacingXL;
        }
    }

    &__recc-name {
        font-size:              1.2rem;
        font-weight:            600;
        margin-bottom:          $spacingXS;
    }

    &__recc-hint {
        position:               absolute;
        background:             $colorXDark;
        padding:                $spacingMD $spacingLG;
        color:                  $colorWhite;
        top:                    0;
        right:                  100%;
        margin-right:           -$spacingSM;
        white-space:            nowrap;

        @include breakpoint('l', 'min') {
            top:                -$spacingSM;
            right:              -7rem;
            margin-right:       0;
        }
    }

    &__recc-text {
        padding:                $spacingXL 0 0 0;

        @include breakpoint('l', 'min') {
            padding:            $spacingXL $spacingXL 0 $spacing4XL;
        }

        h4 {
            color:              $colorWhite;
            font-size:          1.8rem;
            line-height:        1.3em;
        }

        p {
            color:              $colorWhite;
            margin-bottom:      0;
        }
    }
  
}