/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FOOTER TEASER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.footer-teaser {
		max-width: 400px;
		margin: auto;

		h3{
			text-align: center;
			@include media-breakpoint-up(lg) {
				text-align: left;
			}
		}
	}


	.footer-teaser-type {

		margin-bottom: 0.8rem;

	}

	/////////////////////////////////
	// IMAGE
	/////////////////////////////////

	.footer-teaser-image {
		img {
			display: 		block;
			width: 			100%;
			margin-bottom: 		5%;
		}
	}



	/////////////////////////////////
	// CONTENT
	/////////////////////////////////

	.footer-teaser-content {
		@extend %relative-flex;
	}

	.footer-teaser-icon {
		@extend %relative;
		width: 40px;
		height: 40px;
		margin-right: 3%;
		flex: 1 0 auto;

		svg {
			fill: $colorXBlue;
		}
	}

	.footer-teaser-copy {
		margin-bottom: 0;
	}


	/////////////////////////////////
	// PODCAST
	/////////////////////////////////

	.footer-podcast-title  {
		font-weight: 600;

	}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('xl') {

		.footer-teaser {
		}
	}


	@include breakpoint('m') {

		div.footer-teaser {

			max-width: 100%;
		}
	}