/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.footer-navi {
		text-align: center;
		margin-top:2rem;

		@include media-breakpoint-up(lg) {
			margin-top: 0rem;
			text-align: right;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI ITEMS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.footer-navi-item {

		@extend %relative;

		margin: 		0 0 10px 0;
		padding: 		3px 5px;
		font: 			normal 600 13px/13px $fontFamily;
		color: 			#fff;
		transition: 	color 0.2s ease;
		cursor: 		pointer;
		white-space: 	nowrap;
	}


	/////////////////////////////////
	// ITEM HOVER
	/////////////////////////////////

	.footer-navi-item:hover {

		color: 			$colorXBlue;
	}


	/////////////////////////////////
	// ITEM ACTIVE
	/////////////////////////////////

	.footer-navi-item.router-link-exact-active,
	.footer-navi-item.active {

		color: 			$colorXBlue;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('xl') {

		.footer-navi {
		}

		.footer-navi-item {
			width: auto;
		}
	}
