/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FOOTER NEWSLETTER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.footer-newsletter-copy {

		max-width: 		250px;
		margin-bottom: 	1rem;
		font-size: 		14px;
		line-height: 	20px;
	}


	.footer-newsletter .btn {
		margin: 0;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('xl') {

		.footer-newsletter {
			width: 45%;
		}
	}


	@include breakpoint('m') {

		.footer-newsletter {
			text-align: center;
		}

		.footer-newsletter .btn {
			width: 100%;
		}
	}