/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FOOTER SOCIAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

	.footer-social{
		text-align: center;
		margin-top:2rem;

		@include media-breakpoint-up(lg) {
			margin-top: 0rem;
		}
	}

	.footer-social-link {

		@extend %relative-inline-block;

		width: 		20px;
		height: 	22px;
		margin: 	0 7px;

		svg {
			fill: #fff;
		}
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.footer-social-link:hover {

		svg {
			fill: $colorXBlue;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('xl') {

		.footer-social {
			text-align: center;

		}
	}

	@include breakpoint('m') {

		.footer-social {
			padding-top: 0;
		}

		.footer-social-link {
			width: 24px;
			height: 26px;
		}
	}