/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// GLOBAL
	/////////////////////////////////

	$margin:			0.7rem $spacingSM 0.7rem 0;
	$paddingTop:		$spacingMD;
	$paddingLeft: 		$spacingXL;
	$borderRadius: 		0.3rem;
	$fontSize: 			0.9rem;


	/////////////////////////////////
	// NORMAL BUTTON
	/////////////////////////////////

	$normalBackground:			$colorXDark;
	$normalBackgroundHover:		$colorXBlue;
	$normalBackgroundActive:	$colorCtaHover;
	$normalBackgroundDisabled: 	$colorGrayLight;

	$normalColor:				$colorWhite;
	$normalColorHover:			$colorWhite;
	$normalColorActive:			$colorWhite;
	$normalColorDisabled: 		$colorGray;


	/////////////////////////////////
	// SMALL BUTTON
	/////////////////////////////////

	$smallScaling: 	0.5;


	/////////////////////////////////
	// BLUE BUTTON
	/////////////////////////////////

	$blueColor:					$colorXBlue;
	$blueColorHover:			$colorXBlue;
	$blueColorActive:			$colorXBlue;




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NORMAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn {

		@extend %relative;

		width: 				auto;
		height: 			auto;
		display: 			inline-block;

		margin: 			$margin;
		padding: 			($paddingTop*1.1) $paddingLeft $paddingTop $paddingLeft;

		background: 		$normalBackground;
		color: 				$normalColor;
		border-radius: 		$borderRadius;
		border: 			0;
		cursor: 			pointer;
		outline: 			0;

		font: 				bold $fontSize #{"/"} $fontSize $fontFamily;
		text-decoration: 	none;
		text-align: 		center;
		vertical-align: 	middle;
		letter-spacing: 	0.01rem;

		transition: 		all 0.2s;
		-webkit-appearance: none;
		-moz-appearance: 	none;
		appearance: 		none;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn:hover {

		background: 		$normalBackgroundHover;
		color: 				$normalColorHover;
		text-decoration: 	none;
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.btn.active {

		background: 	$normalBackgroundActive;
		color: 			$normalColorActive;
	}


	/////////////////////////////////
	// DISABLED
	/////////////////////////////////

	.btn.disabled {

		background: 	$normalBackgroundDisabled;
		color: 			$normalColorDisabled;
		cursor: 		not-allowed;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SECONDARY
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.secondary {

		background: 	$normalColor;
		border: 		2px solid $normalBackground;
		color: 			$normalBackground;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.secondary:hover {

		background: 	$normalBackgroundActive;
		color: 			$normalColorActive;
		border-color: 	$normalBackgroundActive;
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.btn.secondary.active {

		background: 	$normalBackgroundActive;
		color: 			$normalColorActive;
	}


	/////////////////////////////////
	// DISABLED
	/////////////////////////////////

	.btn.secondary.disabled {

		background: 	$normalBackgroundDisabled;
		color: 			$normalColorDisabled;
		border: 		2px solid $normalBackgroundDisabled;
		cursor: 		not-allowed;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CTA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.cta {

	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.cta:hover {

	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.btn.cta.active {

	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	FULLWIDTH
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.fullwidth {

		width: 100%;
		display: block;
		margin-top: -1rem;
	}

	section.inner .btn.fullwidth {

		width: 100% - ($paddingPageInner*2);
		margin-left: $paddingPageInner;
		margin-right: $paddingPageInner;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SMALL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.small {

		padding: 	($paddingTop*$smallScaling) ($paddingLeft*$smallScaling) ($paddingTop*$smallScaling) ($paddingLeft*$smallScaling);
		font: 		bold $fontSizeSmall #{"/"} $fontSizeSmall $fontFamily;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.small:hover {

	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.btn.small.active {

	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	BLUE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.blue {

		background: 		$blueColor;
	}

	.btn.secondary.blue {

		background: 		transparent;
		color:				$normalColor;
		border-color: 		$blueColor;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.blue:hover {

		background: 		#2196D0;
	}

	.btn.secondary.blue:hover {
		background: 		transparent;
		border-color: 		#2196D0;
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.btn.blue.active {

		background: 		$normalBackground;
	}

	.btn.secondary.blue.active {
		background: 		$blueColor;

		color:				$normalColor;
		border-color: 		$colorCta;
	}

	.btn.secondary.blue.active:hover {

		border-color: 		$blueColor;
	}


	/////////////////////////////////
	// DISABLED
	/////////////////////////////////

	.btn.blue.disabled {

		background: 		$normalBackgroundDisabled;
		color: 				$normalColorDisabled;
	}

	.btn.secondary.blue.disabled {

		background: 		$normalBackgroundDisabled;
		color: 				$normalColorDisabled;
		border-color: 		$normalBackgroundDisabled;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	YELLOW
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.yellow {
		background: 		$colorXYellowDark;
	}

	.btn.secondary.yellow {
		background: 		transparent;

		color:				$normalColor;
		border-color: 		$colorXYellowDark;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.yellow:hover {
		background: 		$colorXYellow;
	}

	.btn.secondary.yellow:hover {
		background: 		transparent;

		border-color: 		$colorCta;
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MAGENTA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.magenta {
		background: 		$colorXMagenta;
	}

	.btn.secondary.magenta {
		background: 		transparent;

		color:				$normalColor;
		border-color: 		$colorXMagenta;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.magenta:hover {
		background: 		$colorXMagenta;
	}

	.btn.secondary.magenta:hover {
		background: 		transparent;

		border-color: 		$colorCta;
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	WHITE MAGENTA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.white-magenta {
		background: 		$colorWhite;
    color:          $colorXMagenta;

    &.icon-left,
	  &.icon-right {
      .icon {
        fill: 		$colorXMagenta;
      }

      &:hover .icon {
        fill: 		$colorXMagenta;
      }
    }

	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.white-magenta:hover {
    background: 		$colorWhite;
    color:          $colorXMagenta;
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	WHITE BLUE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.white-blue {
		background: 		$colorWhite;
    color:          $colorXDark;

    &.icon-left,
	  &.icon-right {
      .icon {
        fill: 		$colorXDark;
      }

      &:hover .icon {
        fill: 		$colorXDark;
      }
    }

	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.white-blue:hover {
    background: 		$colorWhite;
    color:          $colorXDark;
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	GREEN
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.green {

		background: 		$colorXGreen;
	}

	.btn.secondary.green {

		background: 		transparent;
		color:				$normalColor;
		border-color: 		$colorXGreen;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.green:hover {

		background: 		#93C036;
	}

	.btn.secondary.green:hover {
		background: 		transparent;
		border-color: 		$colorCta;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PURPLE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.btn.purple {

		background: 		$colorXPurple;
	}

	.btn.secondary.purple {

		background: 		transparent;
		color:				$normalColor;
		border-color: 		$colorXPurple;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.btn.purple:hover {

		background: 		$normalBackground;
	}

	.btn.secondary.purple:hover {
		background: 		transparent;

		border-color: 		$colorCta;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	ICON
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

	.btn.icon-left,
	.btn.icon-right {
		display: 			inline-flex;
		align-items: 		center;
		justify-content: 	center;

		.icon {
			width: 			0.7rem;
			height: 		0.7rem;
			position: 		static;
			fill: 			$colorWhite;
		}

		/////////////////////////////////
		// SECONDARY
		/////////////////////////////////

		&.secondary {
			.icon {
				fill: 		$colorCta;
			}

			&:hover .icon {
				fill: 		$colorWhite;
			}
		}

		/////////////////////////////////
		// SECONDARY BLUE
		/////////////////////////////////

		&.secondary.blue {
			.icon {
				fill: 		$blueColor;
			}

			&:hover .icon {
				fill: 		currentColor;
			}

			&.active .icon {
				fill: 		$colorWhite;
			}

			&.active:hover .icon {
				fill: 		$colorWhite;
			}
		}

		/////////////////////////////////
		// SECONDARY YELLOW
		/////////////////////////////////

		&.secondary.yellow {
			.icon {
				fill: 		$colorWhite;
			}

			&:hover .icon {
				fill: 		$colorCta;
			}

			&.active .icon {
				fill: 		$colorWhite;
			}

			&.active:hover .icon {
				fill: 		$colorWhite;
			}
		}

		/////////////////////////////////
		// DISABLED
		/////////////////////////////////

		&.disabled,
		&.secondary.disabled {
			.icon {
				fill: 		$colorGray;
			}

			&:hover .icon {
				fill: 		$colorGray;
			}
		}
	}

	/////////////////////////////////
	// ICON LEFT
	/////////////////////////////////

	.btn.icon-left .icon {
		margin-right: 		$spacingSM;
	}

	/////////////////////////////////
	// ICON LEFT
	/////////////////////////////////

	.btn.icon-right .icon {
		margin-left: 		$spacingSM;
	}
