/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	COLORBOX
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.colorbox {

		@extend %relative;

		width: 			78px;
		height: 		6px;
		background: 	$colorXBlue;
		overflow: 		hidden;

		&::before,
		&::after {

			@extend %absolute;

			height: 		100%;
			margin-left: 	33%;
			background: 	rgba(255,255,255,0.35);
			content: 		"";
		}

		&::before {	margin-left: 66%; }
	}

	.colorbox.green { background: $colorXGreen; }
	.colorbox.purple { background: $colorXPurple; }


	/////////////////////////////////
	// BIG
	/////////////////////////////////

	.colorbox.big {
		width: 90px;
		height: 7px;
	}