
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	100%
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.col-100 {

		@extend %relative;

		width: 		calc(99.9% - #{$paddingPage*2});
		margin: 	0 $paddingPage;
	}


	/////////////////////////////////
	// INNER
	/////////////////////////////////

	section.inner .col-100 {

		width: 		calc(99.9% - #{$paddingPageInner*2});
		margin: 	0 $paddingPageInner;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	50%
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.col-50 {

		@extend %relative;

		width: 			50% - $paddingPage;
		margin: 		0 0 0 $paddingPage;
	}


	.col-50:last-child {

		margin: 		0 $paddingPage 0 0;
	}


	/////////////////////////////////
	// INNER
	/////////////////////////////////

	section.inner .col-50 {

		width: 			50% - $paddingPageInner;
		margin: 		0 0 0 $paddingPageInner;
	}


	section.inner .col-50:last-child {

		margin: 		0 $paddingPageInner 0 0;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	33%
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.col-33 {

		width:		33.33%;
	}


	/////////////////////////////////
	// INNER
	/////////////////////////////////

	section.inner .col-33 {

		width: 			33.33% - $paddingPageInner + 1.08%;
		margin-right: 	2.55%;
	}


	section.inner .col-33:nth-child(3n+1) {

		margin-left: $paddingPageInner;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	70% + 30%
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.col-70 {

		@extend %relative;

		width: 			63.1% - $paddingPage;
		margin: 		0 2.46% 0 $paddingPage;
	}

	.col-30 {

		@extend %relative;

		width: 			34.44% - $paddingPage;
		margin: 		0;
	}


	.col-30:first-child 	{ margin: 0 2.46% 0 $paddingPage; }
	.col-70:last-child 		{ margin: 0; }


	/////////////////////////////////
	// INNER
	/////////////////////////////////

	section.inner .col-70 {

		width: 			63.1% - $paddingPageInner;
		margin-left: 	$paddingPageInner;
	}


	section.inner .col-30 {
		width: 			28.92% - $paddingPage;
	}


	section.inner .col-30:first-child 	{ margin-left: 	$paddingPageInner; }
	section.inner .col-70:last-child 	{ margin-left: 0; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('xl') {


		/////////////////////////////////
		// 33%
		/////////////////////////////////

		section.inner .col-33 { width: 40.4%; }
		section.inner .col-33:nth-child(3n+1) { margin-left: 0; }
		section.inner .col-33:nth-child(2n+1) {	margin-left: $paddingPageInner;	}


		/////////////////////////////////
		// 100%
		/////////////////////////////////

		.col-100,
		section.inner .col-100 {
			width: calc(99.9% - #{$paddingPageInner*2});
			margin: 0 $paddingPageInner;
		}


		/////////////////////////////////
		// 70%
		/////////////////////////////////

        .col-70,
        .col-70:last-child,
        section.inner .col-70:last-child,
        section.inner .col-70 {
            width: 100%;
            margin-left: $paddingPageInner;
            margin-right: $paddingPageInner;
        }


		/////////////////////////////////
		// 30%
		/////////////////////////////////

        .col-30,
        .col-30:first-child,
        section.inner .col-30 {
            width: 100%;
            margin-left: $paddingPageInner;
            margin-right: $paddingPageInner;
        }
	}


	@include breakpoint('m') {


		/////////////////////////////////
		// 33%
		/////////////////////////////////

		.col-33, section.inner .col-33 {
			width: calc(99.9% - #{$paddingPageMobileInner*2});
			margin-left: $paddingPageMobileInner;
			margin-right: $paddingPageMobileInner;
		}

		section.inner .col-33:nth-child(3n+1) { margin-left: $paddingPageMobileInner; }
		section.inner .col-33:nth-child(2n+1) {	margin-left: $paddingPageMobileInner; }


		/////////////////////////////////
		// 100%
		/////////////////////////////////

		.col-100, section.inner .col-100 {
			width: calc(99.9% - #{$paddingPageMobileInner*2});
			margin: 0 $paddingPageMobileInner;
		}


		/////////////////////////////////
		// 70%
		/////////////////////////////////

		.col-70,
		.col-70:last-child,
		section.inner .col-70:last-child,
		section.inner .col-70 {
			width: calc(99.9% - #{$paddingPageMobileInner*2});
			margin-left: $paddingPageMobileInner;
			margin-right: $paddingPageMobileInner;
		}


		/////////////////////////////////
		// 30%
		/////////////////////////////////

		.col-30,
		.col-30:first-child,
		section.inner .col-30 {
			width: calc(99.9% - #{$paddingPageMobileInner*2});
			margin-left: $paddingPageMobileInner;
			margin-right: $paddingPageMobileInner;
		}
	}
