/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SVG ICONS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.icon, .sprite {

		@extend %absolute;

		height: 		100%;
		transition: 	fill 0.3s ease;
	}

	.svg-inline {

		@extend %absolute;

		height: 100%;
	}

	.icon {

		fill: $colorGrayDark;
	}


	/////////////////////////////////
	// NORMAL
	/////////////////////////////////

	.svg-inline .normal-fill 	{ fill: $colorGrayDark; transition: fill 0.3s ease; }
	.svg-inline .normal-stroke 	{ stroke: $colorGrayDark; transition: stroke 0.3s ease; }


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.icon:hover {

		fill: $colorXBlue;
	}

	.svg-inline:hover .hover-fill 	{ fill: $colorXBlue; }
	.svg-inline:hover .hover-stroke 	{ stroke: $colorXBlue; }

	.svg-inline #hover, .svg-inline #hover 				{ display: none; }
	.svg-inline:hover #hover, .svg-inline:hover #hover 	{ display: block; }


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.svg-inline .active-fill 	{ fill: $colorXBlue; }
	.svg-inline .active-stroke 	{ stroke: $colorXBlue; }

	.svg-inline #active  		{ display: none; }
	.svg-inline.active #active 	{ display: block; }
	.svg-inline.active #normal 	{ display: none; }
