/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// PAGE
	/////////////////////////////////

	$maxPageWidth: 		1500px;
	$maxContentWidth: 	900px;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	GLOBAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// APP
	/////////////////////////////////

	#app {

		@extend %relative;
	}


	/////////////////////////////////
	// PAGE
	/////////////////////////////////

	.page {

		@extend %relative;

		margin: 	0 auto;
	}

	.page:not(#page-index) { padding-top: 160px; }
  .landingpage-layout .page:not(#page-index) { padding-top: 0; }


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SECTIONS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// SECTION
	/////////////////////////////////

	.hero-section{
		background: url("../img/app/initiative/background.jpg") center center no-repeat fixed;
		background-size: cover;
		margin-bottom: -5rem;
		padding: 5rem 0 10rem 0;

		*{
			color: #ffffff;
		}

		.articleinfo{
			display: none !important;
		}

		.subtitle{
			margin: 0 0 0 0;
			font-weight: 700;

			span{
				color: $colorXBlue;
			}

		}

		@include media-breakpoint-up(xl) {
			height:             calc(92vh - 150px); // 150px = header-padding (see _layout.scss)
			min-height: 		25rem;
			display:            flex;
			flex-flow:          column;
			justify-content:    center;
		}
	}

	.hero-section__content{
		padding: 2rem 1rem 0 1rem;
		text-align: center;

		@include media-breakpoint-up(lg) {
			padding: 5rem 5rem 0 5rem;
		}
	}


	/*
	section {

		@extend %relative-flex;

		max-width: 			$maxPageWidth;
		margin: 			0 auto $marginBottomSection auto;
		flex-wrap: 			wrap;
	}

	.text-layout section {
		margin: 			$marginBottomSection auto;
	}

	.no-spacing {
		margin: 			0 auto;
	}

	  .section-spacer {
		background: #fff;
		padding-top: $spacing3XL;
		@include breakpoint('l', min) {
		  padding-top: $spacing5XL;
		}
	  }

	 */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LAYOUT HELPER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.center-vertical {

		@extend %flex;

		flex-direction: 	column;
		justify-content:	center;
		align-items: 		center;
	}

	.only-desktop 	{}
	.only-mobile 	{ display: none; }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  //@include breakpoint('xl') {
  //  .page:not(#page-index) { padding-top: 70px; }
  //}
  .mobile + .page:not(#page-index) { padding-top: 70px!important; }
  .landingpage-layout .mobile + .page:not(#page-index) { padding-top: 0!important; }

	@include breakpoint('l') {

		section {
			margin-bottom: $marginBottomSectionMobile;
		}

		.text-layout section {
			margin-top: $marginBottomSectionMobile;
		}

		.only-desktop 	{ display: none; }
		.only-mobile 	{ display: block; }
	}
