/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    $table-cell-padding:            .75rem;
    $table-cell-padding-sm:         .3rem;
    $table-border-width:            1px;
    $table-border-color:            $colorGrayBorder;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	GLOBAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    .table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: $table-cell-padding;
            vertical-align: top;
            overflow-wrap: anywhere;
        }

        td {
            border-top: $table-border-width solid $table-border-color;
        }

        thead th {
            vertical-align: bottom;
            text-align: left;
        }

        tbody + tbody {
            border-top: (2 * $table-border-width) solid $table-border-color;
        }
    }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    @include breakpoint('l') {

        .table {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            th,
            td {
                padding: $table-cell-padding-sm;
            }
        }
    }
