/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INDEX INTRO
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.index-intro {

	}


	/////////////////////////////////
	// SECTION
	/////////////////////////////////

	.index-intro section {

		//min-height: 	100vh;
		padding: 		0 $paddingPage;
	}

	header.mobile + .page > .index-intro section {

		min-height: 	calc(var(--vh, 1vh) * 100);	// calculating window height in vue component IndexIntro.setDocumentSize()
	}


    /////////////////////////////////
    // COUNTER DESKTOP + MAGAZINE LIST + NEWSTICKER
    /////////////////////////////////

    .index-intro-container {
        display: flex;
        align-items: flex-start;

        @include breakpoint('xl') {
            flex-direction: column;
        }

        @include breakpoint('l') {
            width: calc(99.9% - #{$paddingPageInner*2});
            margin: 0 $paddingPageInner;
        }

        @include breakpoint('m') {
            width: calc(99.9% - #{$paddingPageMobileInner*2});
            margin: 0 $paddingPageMobileInner;
        }
    }


	/////////////////////////////////
	// TELEKOM LOGO MOBILE
	/////////////////////////////////

	.index-intro-telekom {
		@extend %absolute;
		width: 60px;
		height: 40px;
		display: none;
		top: 75px;
		left: auto;
		right: $paddingPageMobileInner;

	}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

	@include breakpoint('l') {

		.index-intro-telekom {
			display: block;
		}
	}

