/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INDEX MAGAZINE LIST
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.index-magazine-list {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: -6%;
    background-color: $colorWhite;
    border-top-right-radius: 6px;
    padding: 10px 10px 0 $paddingPage;
    box-shadow: 20px 0 30px -36px #000000;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    @include breakpoint('xl') {

        .index-magazine-list {
            width: 68%;
            margin-bottom: $marginBottomSection;
        }

    }

    @include breakpoint('l') {

        .index-magazine-list {
            width: 100%;
            padding: 0;
            box-shadow: none;
        }

    }

    @include breakpoint('m') {

        .index-magazine-list {
            padding: 0;
            box-shadow: none;
        }

    }
