/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INDEX MAGAZINE NEWSTICKER ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.index-magazine-newsticker-item {

    //width: calc(10%);
    display: inline-block;

    > .content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .metadata {
            color: #ADAFB1;
            font: 400 1.0rem #{"/"} 1.6rem $fontFamily;

            .date,
            .author {
                display: inline-block;
            }

            .author {
                font-weight: 600;
                &:before {
                    content: '\b7\a0';
                }
            }
        }

        .headline {
            margin: 0;

        }
    }

}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
