/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INDEX MAGAZINE LIST ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.index-magazine-list-item {
    width: 50%;

    &:first-child {
        padding-right: 20px;
    }

    &:last-child {
        border-left: 1px solid #DADBDD;
        padding-left: 20px;
    }

    .image {
        @extend %relative;

        width:              100%;
        height: 			0;
        margin-bottom:      $spacingMD;
        background: 		$colorGrayBackground url('../svg/app/loading-content.svg') no-repeat center center;
        background-size: 	30px 30px;
        padding-bottom:     52.53%;

        img {

            @extend				%absolute;

            height: 			100%;
            object-fit: 		cover;
            object-position: 	center center;
        }
    }

    .headline {
        margin: 0;
    }

}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


@include breakpoint('xl') {

    .index-magazine-list-item {

        h4 {
            line-height: 1.1rem;
        }

    }

}
