/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INDEX AWARD
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.index-award {
		img {
			width: 100%;
		}
	}

	.index-award-logo {
		margin-bottom: 2rem;
	}

	.index-award-dca-2020 {
		height: auto;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('l') {

		.index-award-logo {
			max-width: 180px;
			display: block;
			margin-top: 2rem;
			margin-left: auto;
			margin-right: auto;
		}
	}