/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	$headerColorBackground: 	#fff;

	// Logo
	$logoWidth: 			130px;
	$logoHeight: 			30px;

	$headerMobileHeight: 	70px;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	header {

		/* flex is used to remove inline-block space */
		@extend %absolute-flex;

		padding: 			15px 1.5rem 10px 1.5rem;
		background: 		$headerColorBackground;
		z-index: 			1100;
		flex-wrap:			wrap;
		justify-content: 	space-between;
		align-items: 		center;

		@include media-breakpoint-up(md) {
			padding:	15px 3rem 10px 3rem;
		}
	}


	/////////////////////////////////
	// LOGO
	/////////////////////////////////

	.header-logo {

		@extend %relative;						// absolute position exclude logo from flex

		width: 				220px;				// same width as .header-toolnavi - required to center .header-navi
		height: 			$logoHeight;
		background-size: 	contain;

		a {
			@extend %relative;

			width: 			130px;
			height: 		100%;
		}
	}

  /////////////////////////////////
  // BREADCRUMBS
  /////////////////////////////////

  .header-breadcrumb {
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px 0 10px;
    z-index: -1;
  }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	BACKGROUND
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.header-lightbox {

		@extend %absolute;

		width: 			100%;
		height: 		100vh;
		display: 		none;
		background: 	rgba(0,0,5,0.7);
		opacity: 		0;
	}


	.header-background {

		@extend %absolute;
		@include box-shadow('normal');

		height: 			340px;
		top: 				-340px;
		background: 		rgba(255,255,255,0.75);
		backdrop-filter: 	blur(15px);
		opacity:			0;
	}


	header.transparent .header-background {	background: rgba(0,5,5,0.7); }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


  div:not(.landingpage-layout) > header.mobile {

		height:  			$headerMobileHeight;
		position: 			top;
		padding: 			$headerMobileHeight 0 0 0;
		background: 		transparent;
		flex-direction: 	column;
		justify-content: 	flex-end;
		align-items: 		flex-end;
		overflow: 			hidden;

		.header-logo {

			height: 		40px;
			position: 		absolute;
			top: 			16px;
			left: 			$paddingPageMobileInner;
			order:			-1;
			z-index: 		10;

			a { width: 150px; }
		}

		.header-background {

			height: 			$headerMobileHeight;
			top: 				0;
			background: 		#fff;
			backdrop-filter: 	blur(0px);
			opacity: 			1;
			transition: 		background 0.3s ease;
		}

		.header-metanavi,
		.header-navi,
		.header-toolnavi {

			width: 			80vw;
			max-width: 		400px;
			background: 	#fff;
		}

    .header-breadcrumb {
      display: none;
    }
	}

  div:not(.landingpage-layout) > header.mobile:not(.open) {

		.header-metanavi,
		.header-navi,
		.header-toolnavi {
			display: none;
		}

		.header-background {
			box-shadow: inherit;
		}
	}

	/////////////////////////////////
	// OPEN
	/////////////////////////////////

  div:not(.landingpage-layout) > header.mobile.open {

		height: 100%;

		.header-background {
			background: #fff !important;
		}
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TRANSPARENT HEADER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


  div > header.transparent {

		background: transparent;
	}


  div > header.mobile.transparent {

		.header-background {

			background: transparent;
		}
	}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LANDINGPAGE HEADER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.landingpage-layout > header.mobile {
  flex-wrap: nowrap;

  .header-metanavi .header-metanavi-telekom {
    display: block;
    width: 120px;
    margin-right: 0;
    color: #fff;
  }
}
