/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	$itemHeight: 	30px;
	$marginBottom: 	10px;
	$colorItem: 	$colorGray;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER META NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	.header-metanavi {

		@extend %relative-flex;

		margin: 			0 0 $marginBottom 0;
		text-align: 		right;
		justify-content: 	flex-end;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



	.header-metanavi-item {

		@extend %relative-inline-block;

		height: 		$itemHeight;
		margin: 		0 2px;
		padding: 		9px 7px 0 7px;
		font: 			normal 400 13px/13px $fontFamily;
		color: 			$colorItem;
		border-radius: 	7px;

		transition-property: 			color, background;
		transition-duration: 			0.2s;
		transition-timing-function: 	ease;
	}


	.header-metanavi-item:last-child {

		margin-right: 	0;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.header-metanavi-item:hover {

		color: $colorXBlue !important; 	// !important to overwrite: header.transparent .header-metanavi-item
	}


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.header-metanavi-item.router-link-exact-active,
	.header-metanavi-item.active {

		color: $colorXBlue;
	}


	/////////////////////////////////
	// TELEKOM LOGO
	/////////////////////////////////

	.header-metanavi-telekom {

		width: 			120px;
		margin-right: 	35px;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TRANSPARENT HEADER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	header.transparent .header-metanavi-item {

		color: #fff;
	}

  header.transparent svg {
    color: #fff;
    &:hover {
      color: $colorXBlue
    }
  }



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



  div:not(.landingpage-layout) > header.mobile .header-metanavi {
		margin: 0;
		padding: 20px 10px;
		order: 3;
		flex-wrap: wrap;

		.header-metanavi-telekom {
			display: none;
		}

		.header-metanavi-item {
			width: 33%;
			margin: 0;
			color: 			$colorItem;
			text-align: center;
		}
	}

  div.landingpage-layout > header.mobile .header-metanavi {
    order: 3;
  }
