/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER LANGUAGE SELECT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.language-select {

		@extend %flex;

		min-width: 	50px;
		height: 	$naviHeight;
		padding: 	0;					// overwrite .header-navi-item
		overflow: 	hidden;
		align-items: center;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LANGUAGE ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// ITEM
	/////////////////////////////////

	.language-select-item {

		@extend %relative;

		height: 		$naviHeight;
		padding: 		$naviItemPadding;
		padding-top: 	15px;
		padding-left:	4px;						// overwrite $naviItemPadding from .header-navi-item
		padding-right:	4px;						// overwrite $naviItemPadding from .header-navi-item
		text-align: 	center;
		font-weight: 	normal;
		opacity: 		0.7;
		font-size: 		14px;
		line-height: 	14px;
		color: 			$colorNavi;
		cursor: 		pointer;
	}


	/////////////////////////////////
	// SEPARATOR
	/////////////////////////////////

	.language-select-separator {

		height: 		12px;
		margin: 		3px 2px 0 2px;
		padding: 		0;
		border-right: 	1px solid $colorGray;
		opacity: 		0.7;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.language-select-active:hover,
	.language-select-item:hover {

		color: 			$colorXBlue !important;
		opacity: 		1;
	}


	/////////////////////////////////
	// ACTIVE ITEM
	/////////////////////////////////

	.language-select-active {

		font-weight: 	bold;
		opacity: 		1;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	header.mobile .language-select {

		width: 			100%;
		margin: 		0;
		margin-bottom: 	20px;
	}


	header.mobile .language-select-separator {

		display: none;
	}


	header.mobile .language-select-item {

		height: 		35px;
		padding-top: 	10px;
		background: 	#fff;
		border: 		1px solid $colorGrayMid;
		color: 			$colorGrayDark;
	}


	header.mobile .language-select-item:first-child {

		border-top-left-radius: 	7px;
		border-bottom-left-radius: 	7px;
	}


	header.mobile .language-select-item:last-child {

		border-top-right-radius: 	7px;
		border-bottom-right-radius: 7px;
	}


	header.mobile .language-select-active {

		background: 	$gradientXBlueDark;
		border-color: 	$gradientXBlueDark;
		color: 			#fff;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	TRANSPARENT HEADER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	header.transparent:not(.mobile) .language-select-item {

		background: transparent;
		color: #fff;
	}


	header.transparent 	.language-select-separator {

		border-color: #fff;
	}

