/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	PAGE TRANSITIONS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// FADE
	/////////////////////////////////

	.page-fade-leave-active {

		transition: opacity 0.25s ease;
	}


	.page-fade-enter-active {

		transition: opacity 0.5s ease;
	}


	.page-fade-enter, .page-fade-leave-to {

		opacity: 0;
	}

