/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SEARCH INPUT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.search-input {
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px 0 0;

  .form-row {
    margin-bottom: 0;
  }

  &__container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include breakpoint('l', min) {
      flex-wrap: nowrap;
    }
  }

  &__input {
    width: 100%;
    position: relative;

    @include breakpoint('l', min) {
      flex: 3 1 auto;
      margin-right: $spacingLG;
      width: auto;
    }

    svg {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      top: 50%;
      left: auto;
      right: 1rem;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    input {
      border-color: $colorGrayLight;
    }
  }

  &__icon {
    left: auto;
    right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    top: 0.9rem;
    fill: $colorGray;
  }

  &__button.btn {
    margin: 0;
    background-color: $gradientXBlueDark;
    padding: 0.65rem $spacingLG;

    @include breakpoint('l', min) {
      flex: 1 1 auto;
    }
  }
}

.vue-suggestion {
  position: relative;
  background-color: white;



  .vs__list, .vs__loading {
    position: absolute;
    width: 100%;
    z-index: 10000;
    background-color: white;
    border: 1px solid #ADAFB1;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 2px #605252;



    .vs__list-item {
      cursor: pointer;
      padding: 0.5rem 1rem;



      &.vs__item-active {
        background-color: #b8d0f1;
      }

      .category {
        padding: 0.2rem 0.3rem 0.2rem 0.3rem;
        border-radius: 0.3rem;
        background-color: #469309;
        color: white;
      }

      em {
        font-style: normal;
        font-weight: bold;
      }


    }


  }


}
