/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LOGO HEADLINE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.logoHeadline {

    //display:            flex;


    &__logo {
        position: static;
        width: 300px;
        height: 64px;
        margin: 4px 0 1rem 0;
    }

    &__divider {
        height: 38px;
        width: 2px;
        background: #FFF;
        display: inline-block;
        margin: 16px 1.5rem;
    }

    &__headline {
        color:              $colorWhite;
        margin:             0;
    }

}