/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	QUOTES SLIDER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.quotesSlider {
    .quoteSection {
        @include breakpoint('m', min) {
            margin-bottom:      $spacingMD;
        }
    }

    .slider__bullets {
        @include breakpoint('l', min) {
            position:           absolute;
            bottom:             2rem;
            left:               50%;
            width:              50%;
            justify-content:    center;
        }
    }
}
