/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  EVENT FOCUS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.eventfocus {
  margin: 0 auto;
  text-align: center;
  background-color: $colorWhite;

  & > div {
    // margin: 0 2.78%;
  }

  &__headline {

    @include breakpoint('l', min) {
      font-size: 2.2rem;
    }
    margin-bottom: $spacingXL;
    font: 600 1.8rem #{"/"} 1.2em $fontFamily;

  }

  &__sections {
    background-color: #f3f3f3;
    padding: 3rem;
    margin-top: 2rem;

    @include media-breakpoint-up(lg){
      margin-top: 3rem;
    }
  }

  &__become-parter{
    text-align: left;
    margin: 3rem auto 0 auto;
    @include media-breakpoint-up(xl){
      margin: 0 auto 0 auto;
    }

  }

  &__image {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto 1rem auto;
    object-fit: contain;
    object-position: center center;
  }

  &__section {
    width: 100%;
    @include breakpoint('l', min) {
      width: 33%;
    }
    padding: $spacingXL;
    background: $colorGrayBackground;

    > * {
      max-width: 300px;
    }

    &--logo {
      display: inline-block;
    }

    &--logo + &--logo {
      margin-top: 1rem;
      @include breakpoint('l', min) {
        margin-top: 0;
      }
    }

    &--text {
      @include breakpoint('l', min) {
        margin-top: 0;
      }
      margin-top: $spacingMD;
    }
  }



  &__subheadline {

    @include breakpoint('l', min) {
      font-size: 1.6rem;
    }
    margin: 0 auto $spacingLG;
    font: 600 1.4rem #{"/"} 1.2em $fontFamily;
    color: $colorGrayDark;
  }

  &__text {
    font-weight: 700;
    color: $colorGray;
    display: inline-block;
  }
}
