
.dashboardInterests {
  color: $colorXDark;

  h1, h2 {
    color: $colorXDark;
  }

  p {
    color: $colorXDark;
  }

  .dashboardInterests__headline {
    margin-left: 8.3%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: bold;
  }

  .article-list.inner {
    margin-bottom: 3%;
  }

}
