/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	EVENT RETROSPECT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.eventretro {
    margin-bottom:          $spacing5XL;

    &__headline {

        text-align:         center;
        margin-bottom:      $spacingXL;
    }

    &__btn {
        width:              100%;
        margin:             0;
    }
}
