/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  EVENTS EVENT NEWSLETTER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.eventsnewsletter {
    background: $gradientXBlueLight;
    padding: $spacing2XL 0 0;

    @include breakpoint('xl', 'min') {
        padding: 150px 0 0;
    }

}
