/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	EVENT INTRODUCTION
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.event-introduction {
  background-color: #fff;

  padding-top: $spacing3XL;
  @include breakpoint('m', min) {
    padding-top: $spacing5XL;
  }

  &__headline {
    white-space: pre-line;
    @include breakpoint('l', min) {
      font-size: 2.2rem;
    }
    text-align: center;
    margin-bottom: $spacingXL;
    font: 600 1.8rem #{"/"} 1.2em $fontFamily;
  }

  &__grid {
    display: grid;
    gap: 20px;

    @include breakpoint('l', min) {
      align-items: stretch;
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  &__intro {
    p {
      margin: 0;
      white-space: pre-line;
    }
  }

  &__image img {
    width: 100%;
    height: auto;
  }

  &__button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
}
