/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	EVENT JOIN
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.eventbanner {
    background: $colorGrayBackground;
    text-align: center;
    padding: $spacing2XL 0 $spacingXL;
    margin-bottom: 0;

    @include breakpoint('l', min) {
        padding: $spacing3XL 0;
        margin-bottom: 0;
    }

    &__inner {
        @include breakpoint('l', min) {
            display: flex;
        }
    }

    &-image {
        margin: 0 auto;
        max-width: 100%;
    }
}
