.event-intro {
  background-color: #fff;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &__headline {
    display: flex;
    flex-direction: column-reverse;
  }

  &__subtitle {
    font: 600 1.2rem #{"/"} 1em $fontFamily;

    text-align: center;
    color: $colorXBlue;
    margin: 0 0 $spacingSM 0;

    @include breakpoint('l', min) {
      font-size: 1.2rem;
      text-align: left;
    }
  }

  &__title {
    font: 600 1.9rem #{"/"} 1em $fontFamily;
    text-align: center;
    margin: 0 0 $spacingXL;

    @include breakpoint('l', min) {
      font-size: 2.9rem;
      line-height: 3.4rem;
      text-align: left;
    }
  }

  &__button {
    font: normal 700 1.3rem #{"/"} 1.2em $fontFamily;
    padding: 0.7rem 1.3rem;
    line-height: 1;

    display: block;
    @include breakpoint('l', min) {
      display: inline-block;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include breakpoint('l', min) {
      flex-direction: row;
    }

    &__text {
      width: 100%;

      @include breakpoint('l', min) {
        width: 60%;
      }
    }

    &__image {
      width: 100%;

      @include breakpoint('l', min) {
        width: 40%;
        align-self: center;
      }
    }
  }


  p {
    text-align: center;

    @include breakpoint('l', min) {
      text-align: left;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
