/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	SVG ICONS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.icon, .sprite {

		@extend %absolute;

		width: 			100%;
		height: 		100%;
		fill: 			$colorGrayDark;
		transition: 	fill 0.3s ease;
	}


	/////////////////////////////////
	// NORMAL
	/////////////////////////////////

	.icon .normal-fill 		{ fill: $colorGrayDark; transition: fill 0.3s ease; }
	.icon .normal-stroke 	{ stroke: $colorGrayDark; transition: stroke 0.3s ease; }


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.icon:hover {

		fill: $colorCta;
	}

	.icon:hover .hover-fill 	{ fill: $colorCta; }
	.icon:hover .hover-stroke 	{ stroke: $colorCta; }

	.icon #hover { display: none; }
	.icon:hover #hover { display: block; }


	/////////////////////////////////
	// ACTIVE
	/////////////////////////////////

	.icon .active-fill 		{ fill: $colorCta; }
	.icon .active-stroke 	{ stroke: $colorCta; }

	.icon #active { display: none; }
	.icon.active #active { display: block; }
	.icon.active #normal {display: none; }
