/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// PAGE
	/////////////////////////////////

	$maxPageWidth: 765px;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	GLOBAL
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// APP
	/////////////////////////////////

	#app {

		@extend %relative;
	}


	/////////////////////////////////
	// PAGE
	/////////////////////////////////

	.page {

		@extend %relative;

		max-width: 	$maxPageWidth;
		margin: 	0 auto;
		padding: 	0 30px;
	}


	/////////////////////////////////
	// CONTENT
	/////////////////////////////////

	.content {

	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LOADING
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	#page-loading {

		@extend %fixed;

		width: 		30px;
		top: 		50%;
		left: 		50%;
		transform: translate(-50%,-50%);
	}


	/////////////////////////////////
	// SVG ICON
	/////////////////////////////////

	#page-loading-icon {

		@extend %relative;
	}



