/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	POPUP ERROR
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.popup-error {

		@extend %fixed;

		padding: 		1.1rem 50px 1rem 50px;
		background: 	$colorFormError;
		visibility: 	hidden;
		z-index: 		99999;
		font: 			bold 1rem/1.2rem $fontFamily;
		color: 			#fff;
		overflow: 		hidden;
		cursor: 		pointer;
		transform: 		translate(0,-100%);
		transition: 	transform 0.7s ease;
		text-align: 	center;
	}


	.popup-error.open {

		visibility: visible;
		transform: translate(0,0);
	}


	/////////////////////////////////
	// ICON
	/////////////////////////////////

	.popup-error-icon {

		@extend %absolute;

		width: 		30px;
		height: 	30px;
		top: 		7px;
		left: 		auto;
		right: 		10px;
		fill: 		#fff;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.popup-error:hover .popup-error-icon {

		fill: $colorGrayDark;
	}
