/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	EVENT PK
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.page-event-pk {
  overflow: hidden;

  .event-hero .button .btn {
    font: normal 700 1.3rem #{"/"} 1.2em $fontFamily;
    padding: 0.7rem 1.3rem;
    line-height: 1;
  }
}
