.errorPage{

  background: url('../img/app/dashboard/background.jpg') center center no-repeat fixed;
  background-size: cover;

  &__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
    margin-bottom: -4rem;
  }

  &__text {
    font: 400 1.5rem #{"/"} 1.4em $fontFamily;
    color: $colorWhite;
    margin-bottom: 3rem;
  }
}
