/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	AGENDA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.page-agenda {

  .event-gk-pk-teaser {
    margin-top: 0;
  }

  .eventjoin {
    margin-top: $spacing3XL;
    @include breakpoint('l', min) {
      margin-top: $spacing5XL;
    }
  }
}
