/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  PAGE PARTICIPATE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.pageParticipate {

    &__faqs-headline {
        background:         $colorWhite;
        margin-bottom:      0;
        padding:            $spacing5XL 0 0;
        color:              $colorTypo;
    }

    &__faqs {
        background:         $colorWhite;
        padding-top:        $spacingLG;

        @include breakpoint('m', min) {
            padding-top:    $spacingLG;
        }
    }
}
