/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INITIATIVE INTRO
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.iniIntro {

    /*
    position:               relative;

    @include breakpoint('l', min) {
        height:             calc(100vh - 150px); // 150px = header-padding (see _layout.scss)
        display:            flex;
        flex-flow:          column;
        justify-content:    center;
    }

    &__headline {
        margin-bottom:          $spacingXL;
    }

    &__desc {
        font-size:              1.1rem;
        text-align:             center;
        color:                  $colorWhite;
        margin:                 0 auto;
        max-width:              40em;

        @include breakpoint('l', min) {
            font-size:          1.2rem;
        }
    }
     */
}