/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	$formInputHeight: 			3rem;
	$formInputMobileHeight: 	3.2rem;

	$formInputPaddingTop:		1rem;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LAYOUT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// FORM ROW
	/////////////////////////////////

	.form-row, .form-row-buttons {

		@extend %relative;

		margin-bottom: 1rem;
	}


	.form-row-buttons {

		text-align: right;

		// no margin on last button
		.btn:last-child { margin-right: 0; }
	}


	/////////////////////////////////
	// LABEL
	/////////////////////////////////

	label, .form-label {

		@extend %relative;
		@extend %no-select;

		margin-bottom: 0.2rem;
		font-weight: bold;
	}


	/////////////////////////////////
	// DEFAULT INPUT
	/////////////////////////////////

	input, .input, textarea, .input-radio, .input-checkbox, .input-select, .input-file {

		@extend %relative;

		height: 			$formInputHeight;
		margin: 			0 0 0 0;
		padding:   			0 0 0 $formInputPaddingTop;
		color: 				$colorTypo;

		border: 			1px solid $colorGray;
		border-radius: 		3px;

		-webkit-appearance: none;
		-moz-appearance: 	none;
		appearance: 		none;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	INPUT / TEXTAREA
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// DEFAULT
	/////////////////////////////////

	input, .input, textarea {

		background: 	$colorInputBackground;
	}

	// show other dom elements as input
	.input {

		padding-top: 13px;
	}


	/////////////////////////////////
	// TEXTAREA
	/////////////////////////////////

	textarea {

		height: 		$formInputHeight * 2;
		padding-top: 	$formInputPaddingTop * 0.6;
	}


	/////////////////////////////////
	// FOCUS
	/////////////////////////////////

	input:focus, textarea:focus {

		// background: 	$colorInputFocusBackground;
		// color: 		$colorInputFocusText;
		outline: 		none;
		border: 		1px solid $colorCta;
	}


	/////////////////////////////////
	// READONLY
	/////////////////////////////////

	input[readonly="readonly"] {

		background: 	$colorGrayLight;
		border: 		$colorGrayLight !important; // prevent hover styling
	}


	/////////////////////////////////
	// PLACEHOLDER
	/////////////////////////////////

	input::-webkit-input-placeholder 	{ font: normal 1rem/1.6rem $fontFamily; color: #ccc; }
	input:-ms-input-placeholder 		{ font: normal 1rem/1.6rem $fontFamily; color: #ccc; }
	input::placeholder 					{ font: normal 1rem/1.6rem $fontFamily; color: #ccc; }
	input::-moz-placeholder 			{ font: normal 1rem/2.8rem $fontFamily; color: #ccc; opacity: 1; } // Firefox need more line-height



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	ERRORS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// MESSAGES CONTAINER
	/////////////////////////////////

	.form-error-messages {

		@extend %relative;

		margin-top: 	30px;
		margin-bottom: 	30px;

		p {
			margin: 0;
		}
	}


	/////////////////////////////////
	// INPUT / TEXTAREA
	/////////////////////////////////

	label.error, p.error {

		color: $colorFormError;
	}


	input.error, .input.error, textarea.error, .input-select.error {

		background: 	$colorFormErrorBackground;
		border: 		1px solid $colorFormError;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	@include breakpoint('m') {

		input, .input, textarea, .input-radio, .input-checkbox, .input-select, .input-file {

			height: $formInputMobileHeight;
		}

		textarea {

			height: $formInputMobileHeight * 1.8;
		}
	}


