/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	$naviHeight: 			40px;
	$naviButtonWidth: 		40px;
	$naviDropdownMinWidth:	100px;
	$naviItemPadding:		15px 5px 0 5px;
	$colorNaviActive: 		$colorActive;
	$colorNaviHover: 		$colorCta;


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.header-navi {

		@extend %relative-flex;
		@extend %no-select;

		width: 		auto;
		height: 	$naviHeight;
	}

	// add space between last navi and browser window
	.header-navi:last-of-type {	margin-right: 25px;	}


	/////////////////////////////////
	// NAVI CONTAINER
	/////////////////////////////////

	.header-navi-content {

		@extend %flex;

		align-items: flex-start;	// vertical alignment of items
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	 NAVI BUTTON
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// NAVI BUTTON
	/////////////////////////////////

	.header-navi-button {

		@extend %absolute;					// absolute position exclude logo from flex

		width: 			$naviButtonWidth;
		height: 		$naviHeight;
		left: 			auto;
		right: 			0;
		cursor: 		pointer;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	NAVI ITEMS
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// ITEM
	/////////////////////////////////

	.header-navi-item {

		@extend %relative;

		width: 			auto;
		height: 		$naviHeight;
		margin: 		0 3px;
		padding: 		$naviItemPadding;
		font: 			bold 13px/13px $fontFamily;
		text-transform: uppercase;
		color: 			$colorGrayDark;
		transition: 	color 0.2s ease;
		cursor: 		pointer;
		white-space: 	nowrap;
	}


	/////////////////////////////////
	// ITEM HOVER
	/////////////////////////////////

	.header-navi-item:hover:not(.language-select) {

		color: 			$colorNaviHover;
	}


	/////////////////////////////////
	// ITEM ACTIVE
	/////////////////////////////////

	.header-navi-item.router-link-exact-active,
	.header-navi-item.active {

		color: 			$colorNaviActive;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DROPDOWN NAVI
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.header-navi.dropdown {

		width: 			$naviButtonWidth;
		height: 		$naviHeight;
		display: 		block;


		.header-navi-content {

			height: 		0;
			display: 		block;
			position: 		absolute;
			top: 			$naviHeight;
			right: 			0;							// horizontal orientation to navi-button
			background: 	$headerColorBackground;
			overflow: 		hidden;
		}


		.header-navi-item {

			min-width: 		$naviDropdownMinWidth;
			height: 		auto;
			display: 		block;
			margin: 		5px 0;
			padding: 		11px 10px 10px 10px;
			text-align: 	left;
		}
	}


	// adapt space between last navi and browser window
	.header-navi.dropdown:last-of-type { margin-right: 10px; }


	/////////////////////////////////
	// OPEN
	/////////////////////////////////

	.header-navi.dropdown.open .header-navi-icon svg {

		#active { display: block; }
		#normal { display: none; }
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	MOBILE
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// DROPDOWN
	/////////////////////////////////

	@include breakpoint('m') {

		.header-navi-item {

			padding: 		16px 10px 15px 10px;
			font: 			bold 15px/15px $fontFamily;
		}
	}



