/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	CONFIG
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	$headerHeight: 				50px;
	$headerColorBackground: 	$colorGrayLight;

	// Logo
	$logoWidth: 		120px;
	$logoHeight: 		$headerHeight;



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	header {

		/* flex is used to remove inline-block space */
		@extend %relative-flex;

		height: 			$headerHeight;
		margin: 			0 0 50px 0;
		background: 		$headerColorBackground;
		z-index: 			1100;
		justify-content: 	flex-end;			// horizontal navi alignment
		align-items: 		center;				// vertical navi alignment
	}


	/////////////////////////////////
	// LOGO
	/////////////////////////////////

	#header-logo {

		@extend %absolute;						// absolute position exclude logo from flex

		width: 				$logoWidth;
		height: 			$logoHeight;
		//background: 		transparent url('../svg/backend/backend-logo.svg') no-repeat center center;
		//background-size: 	contain;
	}