/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	HEADER LANGUAGE SELECT
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// LAYOUT
	/////////////////////////////////

	.language-select {

		min-width: 	40px;
		height: 	$naviHeight;
		padding: 	0;					// overwrite .header-navi-item
		overflow: 	hidden;
	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	LANGUAGE ITEM
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// ITEM
	/////////////////////////////////

	.language-select-item {

		@extend %relative;

		height: 		$naviHeight;
		padding: 		$naviItemPadding;
		background: 	$headerColorBackground;
		text-align: 	center;
	}


	/////////////////////////////////
	// HOVER
	/////////////////////////////////

	.language-select-active:hover,
	.language-select-item:hover {

		color: 			$colorCta;
	}


	/////////////////////////////////
	// ACTIVE ITEM
	/////////////////////////////////

	.language-select-active {

	}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	DROPDOWN
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


	/////////////////////////////////
	// HEADER
	/////////////////////////////////

	// in a .header-navi that is rendered as a dropdown
	.dropdown .language-select {

		text-align: center !important; 	// overwrite .header-navi-item


		.language-select-item {

			width: 			auto;
			height: 		auto;
			display: 		inline-block;
			margin: 		0 3px;
			padding: 		11px 3px 10px 3	px;
			font: 			bold 11px/11px $fontFamily;
		}


		.language-select-active {

			color: $colorCta;
		}
	}


